---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import TireCard from '../components/tyreCard.astro'


const tires = [ // Ejemplo de datos de llantas, puedes reemplazarlo con tus propios datos
  {
    name: "AUFINE_DR10",
    image: "/INVENTARIO/AUFINE _DR10 SMART.jpg"
    
  },
  {
    name: "AUFINE_ADM2",
    image: "/INVENTARIO/AUFINE_ADM2 ENERGY.jpg"
    
  },
  {
    name: "AUFINE_ADM68",
    image: "/INVENTARIO/AUFINE_ADM68 SMART.jpg"
  },
  {
    name: "AUFINE_ADR3",
    image: "/INVENTARIO/AUFINE_ADR3 ENERGY.jpg"
  },
  {
    name: "AUFINE_ADR8",
    image: "/INVENTARIO/AUFINE_ADR8 SMART.jpg"
  },
  {
    name: "AUFINE_AEH9",
    image: "/INVENTARIO/AUFINE_AEH9 SMART.jpg"
  },
  {
    name: "AUFINE_AEL2",
    image: "/INVENTARIO/AUFINE_AEL2 ENERGY.jpg"
  },
  {
    name: "AUFINE_AEL5",
    image: "/INVENTARIO/AUFINE_AEL5 SMART.jpg"
  },
  {
    name: "AUFINE_AEL15",
    image: "/INVENTARIO/AUFINE_AEL15 SMART.jpg"
  },
  {
    name: "AUFINE_AEM",
    image: "/INVENTARIO/AUFINE_AEM ENERGY.jpg"  },
  {
    name: "AUFINE_AEM2",
    image: "/INVENTARIO/AUFINE_AEM2 ENERGY.jpg"
  },

  {
    name: "AUFINE_FR10",
    image: "/INVENTARIO/AUFINE_FR10 SMART.jpg"
  },
  {
    name: "AUFINE_AU20",
    image: "/INVENTARIO/AUFINE_AU20 SMART.jpg"
  },
  {
    name: "AUFINE_AF18",
    image: "/INVENTARIO/AUFINE_AF18 GALAXY.jpg"
  },
  {
    name: "AUFINE_AF88 ",
    image: "/INVENTARIO/AUFINE_AF88 CONQUEROR.jpg"
  },
  {
    name: "AUFINE_AF186",
    image: "/INVENTARIO/AUFINE_AF186 CONQUEROR.jpg"
  },
  {
    name: "AUFINE_AF327",
    image: "/INVENTARIO/AUFINE_AF327 GALAXY.jpg"
  },
  {
    name: "AUFINE_AF557",
    image: "/INVENTARIO/AUFINE_AF557 CONQUEROR.jpg"
  },
  {
    name: "AUFINE_AF667",
    image: "/INVENTARIO/AUFINE_AF667 GALAXY.jpg"
  },
  {
    name: "AUFINE_AF717",
    image: "/INVENTARIO/AUFINE_AF717 CONQUEROR.jpg"
  },
 
]


// Función para generar el PDF

// Llama a la función para generar el PDF

---
<DefaultLayout title="Catálogo de Llantas">
  <section class="mx-auto py-12" style="background-image: url('/FONDOAUFINE.jpg'); background-attachment: fixed;">
    <h1 class="text-6xl font-bold mb-6 text-blue-500 text-center" style="font-family: PANTHON; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Catálogo de Llantas</h1>

    <div class="text-center text-black">
      <a href="\INVENTARIO AUFINE.pdf" download="catalogo-llantas.pdf" class="text-blue-500 font-bold text-lg underline">Descargar Catálogo de Llantas (PDF)</a>
    </div>
    
    {/* Separar por categorías */}
    <section id="llantasSmart">
      <h2 class="text-4xl font-bold mb-6 text-center text-gray-800" style="font-family:PANTHON; padding-top:30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Llantas SMART</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-10">
        {tires.filter(tire => tire.image.includes('SMART')).map(tire => (
          <TireCard tire={tire} />
        ))}
      </div>
    </section>
    
    <section id="llantasEnergy">
      <h2 class="text-4xl font-bold mb-6 text-center text-gray-800" style="font-family:PANTHON; padding-top:30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Llantas ENERGY Y OTRAS</h2>
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-10">
        {tires.filter(tire => !tire.image.includes('SMART')).map(tire => (
          <TireCard tire={tire} />
        ))}
      </div>
    </section>
  </section>
</DefaultLayout>


