---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import { ViewTransitions } from 'astro:transitions';
import TireCard from '../components/tyreCard.astro'
import { Image } from 'astro:assets';
//background-image: url('/FondoCatalogo.jpg');

const tires = [ // Ejemplo de datos de llantas, puedes reemplazarlo con tus propios datos
  {
    name: "FOTO1",
    image: "/INVENTARIO/FOTO1.jpg"
    
  },
  {
    name: "FOTO2",
    image: "/INVENTARIO/FOTO2.jpg"
    
  },
  {
    name: "FOTO3",
    image: "/INVENTARIO/FOTO3.jpg"
    
  },
  {
    name: "FOTO4",
    image: "/INVENTARIO/FOTO4.jpg"
    
  },
  {
    name: "FOTO5",
    image: "/INVENTARIO/FOTO5.jpg"
    
  },
  {
    name: "FOTO6",
    image: "/INVENTARIO/FOTO6.jpg"
  }

]


---

<DefaultLayout title="Inicio" >
  <ViewTransitions />
  <Hero />
  <section class="mx-auto py-12 bg-[#00000]" style=" background-attachment: fixed;">
    <h1 class="text-6xl font-bold mb-6 text-white text-center" style="font-family: PANTHON; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Catálogo de conjuntos</h1>
    
    {/* Separar por categorías */}
    <section>
      <!-- <h2 class="text-4xl font-bold mb-6 text-center text-gray-800" style="font-family:PANTHON; padding-top:30px; text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Conju</h2> -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 p-10">
        {tires.map(tire => (
          <TireCard tire={tire} />
        ))}
      </div>
    </section>

  </section>

  <section  class="bg-[#26362a]" style="font-family:PANTHON">
    <div class="container grid grid-cols-1 md:grid-cols-2 gap-8 bg-cover bg-center bg-no-repeat rounded-lg overflow-hidden pt-10">
      
      <!-- Columna izquierda: Información de contacto -->
      <div class="bg-opacity-75 backdrop-blur-lg p-6">
        <p class="text-4xl font-bold text-white mb-8 mt-10">Información de Contacto</p>
        <div class="text-white">
          <p class="text-lg mb-4"><strong>Instagram:</strong> 
            <a href="https://www.instagram.com/donde_pino/profilecard/?igsh=MXd3aHQ4b2N5aHB4Zg==" class="text-blue-400 hover:underline">donde_pino</a>
          </p>
          <p class="text-lg mb-4"><strong>WhatsApp:</strong> 313 769 02 61</p>
        </div>
      </div>
      
      <!-- Columna derecha: Imagen del asesor -->
      <div class="flex justify-center items-left mt-24">
        <img src="/Contacto.jpg"  alt="Foto" class="rounded-lg w-full  object-cover  " style="width: 50%;"/>
      </div>
      
    </div>
  </section>
  </DefaultLayout>

<style>
.Title {
  font-family: 'PANTHON';
  text-align: center;
  font-size:60px;
  padding-top: 50px;
 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width:500px){
  .Title {
    font-size: 40px;
  }
  .Correo {
    font-size: 15px !important;
  }
}

</style>

<script type="module">
  document.addEventListener('DOMContentLoaded', () => {
      // Selecciona todos los enlaces internos que tienen un hash (#) o (/#)
      const links = document.querySelectorAll('a[href^="#"], a[href^="/#"]');
    
      // Agrega un evento de clic a cada enlace
      links.forEach(link => {
        link.addEventListener('click', e => {
          // Evita el comportamiento predeterminado del enlace
          e.preventDefault();
    
          // Obtiene el valor del atributo href del enlace
          let href = link.getAttribute('href');
    
          // Maneja el caso especial cuando el enlace comienza con "/#"
          if (href.startsWith('/#')) {
            href = href.substring(1); // Elimina la barra inicial
          }
    
          // Desplaza suavemente la página hasta la sección correspondiente
          document.querySelector(href).scrollIntoView({
            behavior: 'smooth'
          });
        });
      });
    });
    
  </script>