---
import logo from '../assets/img/aufine_logo.png'
import logo2 from '../assets/img/logoServi.png'
import { Image } from 'astro:assets'
const currentYear = new Date().getFullYear()
---


<footer class="bg-[#26362a]">
  <section id="Contacto" class="">
    <div class="container flex justify-between items-center ">
      <!-- Año actual -->
      <p class="text-white pb-10" style="font-family:PANTHON">&copy; {currentYear} DERECHOS RESERVADOS</p>
      <!-- Logos de la empresa -->
    
    </div>
  </section>
</footer>
